<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Async Test</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h2>Vue Test</h2>
    <div id="app">
        <div v-if="showBook">
            <p>{{title}}</p>
            <p>{{author}}</p>
            <p>{{age}}</p>

            <span>I don't know why I'm doing this but I had to.</span>
            <span>I'm faking again like I'm Coding.</span>
            <button v-on:click="age++">Increase Age</button>
            <button v-on:click="author='Maung Maung'">For Maung Maung</button>
        </div>
            <button @click="showBook=!showBook">
                <span v-if="showBook">Hide</span>
                <span v-if="!showBook">Show</span>
            </button>
    </div>
    <script src="script.js"></script>
</body>
</html>